<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <form action="http://localhost:3000/create" method="POST">
      <label>Co chcesz dodać?</label>
      <select name="type">
        <option value="MetroStation">Metro</option>
        <option value="TramStation">Tram</option>
        <option value="BusStation">Bus</option>
        <option value="TrainStation">Train</option>
        <option value="Line">Line</option>
      </select>
      <label>Name</label>
      <input type="text" name="name" />
      <button type="submit">Wyślij</button>
    </form>
  </body>
</html>
